BLUEPRINT_MODE_ENABLED=false
SCHEMA_READER_MODE=db
SCHEMA_READER_DB_DRIVER=sqlite
SCHEMA_READER_DB_HOST=108.181.92.74
SCHEMA_READER_DB_PORT=3306
SCHEMA_READER_DB_USERNAME=nruphf
SCHEMA_READER_DB_PASSWORD=
SCHEMA_READER_DB_DATABASE=vemto_schema_reader
